@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<div class="page">
    <FluentMainLayout NavMenuTitle="Navigation menu" >
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/" Text="Home">Home</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.ShoppingBagAdd())" Href="/shopping" Text="Shopping">Shopping</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
