@page "/shopping"
@using IcaKvantumPrice.Web.Components.Custom
@rendermode InteractiveServer
@attribute [OutputCache(Duration = 5)]

<PageTitle>Shopping</PageTitle>

<div>
    <h1>Shopping</h1>
</div>


<FluentTabs @bind-ActiveTabId="@activeid" OnTabChange="HandleOnTabChange">
    <FluentTab Label="Kvitto" Id="tab-kvitto">
        Tab kvitto content.
    </FluentTab>

    <FluentTab Label="Shop" Id="tab-shopping">
        <AddShopping />
    </FluentTab>
</FluentTabs>
